<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDisplayName</key>
	<string>DaisyChat</string>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>NSCameraUsageDescription</key>
	<string>Attach a photo to a Hermes prompt.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Choose a photo to attach to a Hermes prompt.</string>
</dict>
</plist>
